html {
    font-family: Consolas, sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    line-height: 160%;
    padding: 20px 10px;
    cursor: pointer;
}

li:nth-child(even) {
    background-color: #eee;
}

li:nth-child(odd) {
    background-color: #ccc;
}